.keyboard {
  margin-top: 10px;
  width: 225px;
}
.virtual-keyboard-key {
  border: 1px solid black;
  width: 40px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  white-space: nowrap;
  display: inline-block;
  margin: 5px;
}
.virtual-keyboard-key:hover {
  background: black;
  color: white;
}
