.keyboard {
  margin-top: 10px;
  margin-left: 15px;
  width: 225px;
  display: block;
}
.virtual-keyboard-key {
  border: 1px solid silver;
  width: 40px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  white-space: nowrap;
  display: inline-block;
  margin: 5px;
  border-top: 2px solid royalblue;
  color: #24292e;
}
.virtual-keyboard-key:hover {
  background: #f6f8fa;
}
